cold_outreach_n8n.json
{
    "name": "Daily Sublime Influencer Outreach",
    "nodes": [
        {
            "parameters": {},
            "id": "trigger-manual",
            "name": "Run Manually",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                0,
                0
            ]
        },
        {
            "parameters": {
                "operation": "read",
                "documentId": {
                    "__rl": true,
                    "__regex": "",
                    "mode": "id",
                    "value": "YOUR_GOOGLE_SHEET_ID_HERE"
                },
                "sheetName": {
                    "__rl": true,
                    "__regex": "",
                    "mode": "list",
                    "value": "Sheet1"
                },
                "options": {}
            },
            "id": "sheets-read",
            "name": "Read Influencer List",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                220,
                0
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "YOUR_GOOGLE_CREDENTIALS_ID",
                    "name": "Google Sheets"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose"
                    },
                    "conditions": [
                        {
                            "id": "filter-empty-status",
                            "leftValue": "={{ $json.Status }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "empty",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "filter-pending",
            "name": "Filter Empty Status",
            "type": "n8n-nodes-base.filter",
            "typeVersion": 2,
            "position": [
                440,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "// ============================================\n// DAILY SUBLIME - BLACK & GOLD EMAIL TEMPLATE\n// ============================================\n\nconst name = $input.item.json.Influencer_Name || 'Creator';\nconst profilePic = $input.item.json.Profile_Pic_Url || '';\nconst hook = $input.item.json.Custom_Hook || 'your incredible content';\nconst topic = $input.item.json.Video_Topic || 'your work';\n\nconst html = `\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Daily Sublime × ${name}</title>\n</head>\n<body style=\"margin:0;padding:0;background:#0a0a0a;font-family:'Segoe UI',Arial,sans-serif;\">\n\n  <!-- OUTER WRAPPER -->\n  <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"background:#0a0a0a;\">\n    <tr>\n      <td align=\"center\" style=\"padding:40px 20px;\">\n\n        <!-- MAIN CARD -->\n        <table role=\"presentation\" width=\"600\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" \n          style=\"background:linear-gradient(145deg,#1a1a1a 0%,#0d0d0d 100%);border:1px solid #2a2a2a;border-radius:20px;overflow:hidden;\">\n          \n          <!-- GOLD ACCENT BAR -->\n          <tr>\n            <td style=\"height:4px;background:linear-gradient(90deg,#d4af37 0%,#f4d03f 50%,#d4af37 100%);\"></td>\n          </tr>\n\n          <!-- HEADER SECTION -->\n          <tr>\n            <td style=\"padding:40px 40px 30px 40px;text-align:center;\">\n              \n              <!-- LOGO/BRAND -->\n              <div style=\"font-size:11px;letter-spacing:4px;text-transform:uppercase;color:#d4af37;font-weight:600;margin-bottom:25px;\">\n                ✦ DAILY SUBLIME ✦\n              </div>\n              \n              <!-- INFLUENCER IMAGE -->\n              <div style=\"margin:0 auto 25px auto;width:100px;height:100px;border-radius:50%;overflow:hidden;border:3px solid #d4af37;box-shadow:0 0 30px rgba(212,175,55,0.3);\">\n                <img src=\"${profilePic}\" alt=\"${name}\" width=\"100\" height=\"100\" \n                  style=\"display:block;width:100px;height:100px;object-fit:cover;border-radius:50%;\" />\n              </div>\n              \n              <!-- GREETING -->\n              <div style=\"font-size:28px;font-weight:700;color:#ffffff;margin-bottom:8px;\">\n                Hello, ${name}\n              </div>\n              \n              <div style=\"font-size:15px;color:#888888;\">\n                We've been watching ${hook}\n              </div>\n              \n            </td>\n          </tr>\n\n          <!-- DIVIDER -->\n          <tr>\n            <td style=\"padding:0 40px;\">\n              <div style=\"height:1px;background:linear-gradient(90deg,transparent,#333333,transparent);\"></div>\n            </td>\n          </tr>\n\n          <!-- INTRO SECTION -->\n          <tr>\n            <td style=\"padding:30px 40px;\">\n              \n              <div style=\"font-size:12px;letter-spacing:2px;text-transform:uppercase;color:#d4af37;font-weight:600;margin-bottom:15px;\">\n                Why We're Reaching Out\n              </div>\n              \n              <div style=\"font-size:16px;line-height:1.8;color:#cccccc;\">\n                Your content on <strong style=\"color:#ffffff;\">${topic}</strong> deeply resonates with what we're building at Daily Sublime — a curated experience that transforms how people engage with art and ideas.\n              </div>\n              \n            </td>\n          </tr>\n\n          <!-- PROPOSITION SECTION -->\n          <tr>\n            <td style=\"padding:0 40px 30px 40px;\">\n              \n              <!-- PROPOSITION BOX -->\n              <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\"\n                style=\"background:#141414;border:1px solid #2a2a2a;border-radius:14px;\">\n                <tr>\n                  <td style=\"padding:25px;\">\n                    \n                    <div style=\"font-size:12px;letter-spacing:2px;text-transform:uppercase;color:#d4af37;font-weight:600;margin-bottom:12px;\">\n                      The Proposition\n                    </div>\n                    \n                    <div style=\"font-size:16px;line-height:1.8;color:#cccccc;margin-bottom:20px;\">\n                      We'd love to explore a collaboration — whether it's a featured partnership, a co-curated gallery edition, or simply connecting over ideas. Your perspective would add immense value to our community.\n                    </div>\n                    \n                    <!-- BENEFITS -->\n                    <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\">\n                      <tr>\n                        <td style=\"padding:6px 0;color:#888888;font-size:14px;\">\n                          <span style=\"color:#d4af37;margin-right:10px;\">◆</span> Exposure to a curated, engaged audience\n                        </td>\n                      </tr>\n                      <tr>\n                        <td style=\"padding:6px 0;color:#888888;font-size:14px;\">\n                          <span style=\"color:#d4af37;margin-right:10px;\">◆</span> Creative freedom in how we collaborate\n                        </td>\n                      </tr>\n                      <tr>\n                        <td style=\"padding:6px 0;color:#888888;font-size:14px;\">\n                          <span style=\"color:#d4af37;margin-right:10px;\">◆</span> A partnership that feels authentic, not transactional\n                        </td>\n                      </tr>\n                    </table>\n                    \n                  </td>\n                </tr>\n              </table>\n              \n            </td>\n          </tr>\n\n          <!-- CTA SECTION -->\n          <tr>\n            <td style=\"padding:10px 40px 40px 40px;text-align:center;\">\n              \n              <!-- CTA BUTTON -->\n              <a href=\"https://daily.sinadehesh.com\" target=\"_blank\" \n                style=\"display:inline-block;padding:16px 40px;background:linear-gradient(135deg,#d4af37 0%,#f4d03f 50%,#d4af37 100%);color:#0a0a0a;font-size:14px;font-weight:700;text-decoration:none;border-radius:50px;letter-spacing:1px;text-transform:uppercase;box-shadow:0 4px 20px rgba(212,175,55,0.4);\">\n                Explore Daily Sublime →\n              </a>\n              \n              <div style=\"margin-top:20px;font-size:13px;color:#666666;\">\n                No commitment needed — just see what we're about\n              </div>\n              \n            </td>\n          </tr>\n\n          <!-- FOOTER -->\n          <tr>\n            <td style=\"padding:25px 40px;background:#0d0d0d;border-top:1px solid #1a1a1a;text-align:center;\">\n              \n              <div style=\"font-size:12px;color:#555555;\">\n                Sent with intention from Daily Sublime<br>\n                <a href=\"https://daily.sinadehesh.com\" style=\"color:#d4af37;text-decoration:none;\">daily.sinadehesh.com</a>\n              </div>\n              \n            </td>\n          </tr>\n\n        </table>\n        <!-- END MAIN CARD -->\n\n      </td>\n    </tr>\n  </table>\n\n</body>\n</html>\n`;\n\nconst subject = `${name}, let's create something together ✦`;\n\nreturn {\n  email: $input.item.json.Recipient_Email,\n  subject: subject,\n  htmlBody: html,\n  name: name\n};"
            },
            "id": "build-email",
            "name": "Build Email",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                660,
                0
            ]
        },
        {
            "parameters": {
                "resource": "draft",
                "operation": "create",
                "sendTo": "={{ $json.email }}",
                "subject": "={{ $json.subject }}",
                "emailType": "html",
                "message": "={{ $json.htmlBody }}",
                "options": {}
            },
            "id": "gmail-draft",
            "name": "Create Gmail Draft",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                880,
                0
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "YOUR_GMAIL_CREDENTIALS_ID",
                    "name": "Gmail"
                }
            }
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "__regex": "",
                    "mode": "id",
                    "value": "YOUR_GOOGLE_SHEET_ID_HERE"
                },
                "sheetName": {
                    "__rl": true,
                    "__regex": "",
                    "mode": "list",
                    "value": "Sheet1"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Status": "DRAFTED"
                    },
                    "matchingColumns": [
                        "Recipient_Email"
                    ],
                    "schema": [
                        {
                            "id": "Status",
                            "displayName": "Status",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Recipient_Email",
                            "displayName": "Recipient_Email",
                            "required": false,
                            "defaultMatch": true,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        }
                    ]
                },
                "options": {}
            },
            "id": "sheets-update",
            "name": "Mark DRAFTED",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                1100,
                0
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "YOUR_GOOGLE_CREDENTIALS_ID",
                    "name": "Google Sheets"
                }
            }
        }
    ],
    "connections": {
        "Run Manually": {
            "main": [
                [
                    {
                        "node": "Read Influencer List",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Influencer List": {
            "main": [
                [
                    {
                        "node": "Filter Empty Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Empty Status": {
            "main": [
                [
                    {
                        "node": "Build Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Email": {
            "main": [
                [
                    {
                        "node": "Create Gmail Draft",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Gmail Draft": {
            "main": [
                [
                    {
                        "node": "Mark DRAFTED",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "pinData": {}
}