yteremailworkflow.json
{
  "name": "Daily Sublime Cold Outreach",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Run Manually",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "__regex": "",
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID_HERE"
        },
        "sheetName": {
          "__rl": true,
          "__regex": "",
          "mode": "list",
          "value": "Sheet1"
        },
        "options": {
          "outputFormatting": {
            "values": {
              "general": "FORMATTED"
            }
          }
        }
      },
      "id": "sheets-read",
      "name": "Read Outreach List",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [220, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIALS_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "filter-empty-status",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-pending",
      "name": "Filter: Empty Status",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "// HTML Email Template with Partner Spotlight\nconst template = `\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"margin:0;padding:0;background:#e3eaff;font-family:Arial,sans-serif;\">\n\n<!-- PARTNER SPOTLIGHT -->\n<table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"margin:0;padding:0;\">\n  <tr>\n    <td bgcolor=\"#e3eaff\" style=\"background:#e3eaff;padding:22px;\">\n      <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\"\n        style=\"background:#ffffff;border:1px solid #e9edf3;border-radius:14px;\">\n        <tr>\n          <td style=\"padding:18px;\">\n            <div style=\"font-family:Arial,sans-serif;font-size:12px;font-weight:700;letter-spacing:0.14em;text-transform:uppercase;color:rgba(17,17,17,0.65);\">\n              Proposed Partner\n            </div>\n            <div style=\"width:44px;height:4px;background:#fed54a;border-radius:999px;margin:10px 0 14px 0;\"></div>\n            <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\">\n              <tr>\n                <td width=\"60\" valign=\"top\" style=\"padding-right:16px;\">\n                  <div style=\"width:60px;height:60px;border-radius:50%;overflow:hidden;background:#e3eaff;\">\n                    <img src=\"{{Profile_Pic_Url}}\" alt=\"{{Influencer_Name}}\" width=\"60\" height=\"60\"\n                      style=\"display:block;width:60px;height:60px;border-radius:50%;object-fit:cover;\" />\n                  </div>\n                </td>\n                <td valign=\"middle\">\n                  <div style=\"font-family:Arial,sans-serif;font-size:18px;font-weight:700;color:#111111;\">\n                    {{Influencer_Name}}\n                  </div>\n                  <div style=\"font-family:Arial,sans-serif;font-size:14px;color:#6b7280;margin-top:4px;\">\n                    Curator of the <strong style=\"color:#111111;\">{{Custom_Hook}}</strong> Edition\n                  </div>\n                </td>\n              </tr>\n            </table>\n          </td>\n        </tr>\n      </table>\n    </td>\n  </tr>\n</table>\n\n</body>\n</html>\n`;\n\n// Replace placeholders\nlet html = template\n  .replace(/\\{\\{Influencer_Name\\}\\}/g, $input.item.json.Influencer_Name || '')\n  .replace(/\\{\\{Profile_Pic_Url\\}\\}/g, $input.item.json.Profile_Pic_Url || '')\n  .replace(/\\{\\{Custom_Hook\\}\\}/g, $input.item.json.Custom_Hook || '');\n\n// Build subject line\nconst subject = `Daily Sublime × ${$input.item.json.Influencer_Name} — A Curator Invitation`;\n\nreturn {\n  email: $input.item.json.Recipient_Email,\n  subject: subject,\n  htmlBody: html,\n  rowNumber: $input.item.json.row_number\n};"
      },
      "id": "build-email",
      "name": "Build Email HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "resource": "draft",
        "operation": "create",
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.htmlBody }}",
        "options": {}
      },
      "id": "gmail-draft",
      "name": "Create Gmail Draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [880, 0],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIALS_ID",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "__regex": "",
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID_HERE"
        },
        "sheetName": {
          "__rl": true,
          "__regex": "",
          "mode": "list",
          "value": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "DRAFTED"
          },
          "matchingColumns": ["row_number"],
          "schema": [
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "sheets-update",
      "name": "Mark as DRAFTED",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1100, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIALS_ID",
          "name": "Google Sheets"
        }
      }
    }
  ],
  "connections": {
    "Run Manually": {
      "main": [
        [{ "node": "Read Outreach List", "type": "main", "index": 0 }]
      ]
    },
    "Read Outreach List": {
      "main": [
        [{ "node": "Filter: Empty Status", "type": "main", "index": 0 }]
      ]
    },
    "Filter: Empty Status": {
      "main": [
        [{ "node": "Build Email HTML", "type": "main", "index": 0 }]
      ]
    },
    "Build Email HTML": {
      "main": [
        [{ "node": "Create Gmail Draft", "type": "main", "index": 0 }]
      ]
    },
    "Create Gmail Draft": {
      "main": [
        [{ "node": "Mark as DRAFTED", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "pinData": {}
}
